<confirm-dialog
    ng-if="$ctrl.confirmDialogShow"
    title="Are you sure?"
    body-text="$ctrl.getConfirmText()"
    confirm-text="Confirm"
    cancel-text="Cancel"
    on-cancel="$ctrl.hideConfirmDialog()"
    on-confirm="$ctrl.deleteSelectedProduct()"
></confirm-dialog>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Image</th>
            <th>Category</th>
            <th>Size</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="product in $ctrl.products">
            <td>{{ product.name }}</td>
            <td>
                <img
                    width="45"
                    height="45"
                    ng-src="{{ product.imageURL }}"
                    alt=""
                />
            </td>
            <td>{{ product.category.name }}</td>
            <td>{{ product.stringSizes }}</td>
            <td>
                <button
                    class="btn btn-primary"
                    ng-click="$ctrl.editProduct(product)"
                >
                    Edit
                </button>
                <button
                    class="btn btn-danger"
                    ng-click="$ctrl.deleteProduct(product)"
                >
                    Delete
                </button>
            </td>
        </tr>
    </tbody>
</table>
