<div
    role="dialog"
    style="width: 100vw; height: 100vh; z-index: 1; position: fixed; top: 0"
>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-warning">
                <h5 class="modal-title">Update account</h5>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group row align-items-center">
                        <label
                            for="email"
                            class="col-2"
                            style="text-align: right"
                            >Email</label
                        >
                        <input
                            class="form-control col"
                            type="text"
                            id="email"
                            ng-model="$ctrl.account.email"
                        />
                    </div>
                    <div class="form-group row align-items-center">
                        <label
                            for="name"
                            class="col-2"
                            style="text-align: right"
                            >Name</label
                        >
                        <input
                            class="form-control col"
                            type="text"
                            id="name"
                            ng-model="$ctrl.account.name"
                        />
                    </div>
                    <div class="form-group row align-items-center">
                        <label
                            for="gender"
                            class="col-2"
                            style="text-align: right"
                            >Gender</label
                        >
                        <div class="form-group col">
                            <input
                                type="radio"
                                value="Male"
                                name="gender"
                                id="genderMale"
                                class="form-check-input"
                                ng-model="$ctrl.account.gender"
                            />

                            <label class="form-check-label" for="genderMale">
                                Male
                            </label>
                        </div>
                        <div class="form-group col">
                            <input
                                type="radio"
                                class="form-check-input"
                                value="Female"
                                name="gender"
                                id="gender"
                                ng-model="$ctrl.account.gender"
                            />
                            <label class="form-check-label" for="genderMale">
                                Female
                            </label>
                        </div>
                    </div>
                    <div class="form-group row align-items-center">
                        <label
                            for="role"
                            class="col-2"
                            style="text-align: right"
                            >Role</label
                        >
                        <select
                            name=""
                            id="role"
                            class="form-select col"
                            ng-model="$ctrl.account.role"
                        >
                            <option value="Admin" selected>Admin</option>
                            <option value="User">User</option>
                        </select>
                    </div>
                    <div class="form-group row align-items-center">
                        <label
                            for="phone"
                            class="col-2 text-right"
                            style="text-align: right"
                            >Phone</label
                        >
                        <input
                            type="tel"
                            name=""
                            id="phone"
                            class="form-control col"
                            ng-model="$ctrl.account.phone"
                        />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button
                    type="button"
                    class="btn btn-light"
                    ng-click="$ctrl.closeEditModal()"
                >
                    Cancel
                </button>
                <button
                    type="button"
                    class="btn btn-success"
                    data-dismiss="modal"
                    ng-click="$ctrl.confirmUpdate()"
                >
                    Ok
                </button>
            </div>
        </div>
    </div>
</div>
