<div
    role="dialog"
    style="width: 100vw; height: 100vh; z-index: 1; position: fixed; top: 0"
>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-warning">
                <h5 class="modal-title">Create Product</h5>
            </div>
            <div class="modal-body">
                <form class="d-flex flex-column">
                    <div class="form-group row align-items-center">
                        <label
                            for="name"
                            class="col-3"
                            style="text-align: right"
                            >Name</label
                        >
                        <input
                            class="form-control col"
                            type="text"
                            id="name"
                            ng-model="$ctrl.product.name"
                        />
                    </div>
                    <div class="form-group row align-items-center pt-2">
                        <label
                            for="category"
                            class="col-3"
                            style="text-align: right"
                            >Category</label
                        >
                        <select
                            name=""
                            id="category"
                            class="form-select col"
                            ng-model="$ctrl.product.category.id"
                        >
                            <option
                                ng-selected="{{ category.id == $ctrl.product.category.id }}"
                                ng-repeat="category in $ctrl.categories"
                                value="{{ category.id }}"
                            >
                                {{ category.name }}
                            </option>
                        </select>
                    </div>
                    <div class="form-group row align-items-center pt-2">
                        <label class="col-3" style="text-align: right"
                            >Attributes</label
                        >
                    </div>
                    <section
                        class="row pt-2"
                        ng-repeat="productSize in $ctrl.product.sizes track by $index"
                    >
                        <div class="col-3">
                            <!-- dummy div -->
                        </div>
                        <select
                            class="form-select col me-2"
                            ng-model="$ctrl.product.sizes[$index].id"
                        >
                            <option
                                ng-selected="{{ category.id == productSize.id }}"
                                ng-repeat="size in $ctrl.sizes"
                                value="{{ size.id }}"
                            >
                                {{ size.name }}
                            </option>
                        </select>
                        <input
                            class="form-control col"
                            ng-model="$ctrl.product.sizes[$index].price"
                            type="number"
                            placeholder="Price"
                        />
                    </section>
                    <div class="form-group row align-items-center pt-2">
                        <div class="col-3"><!-- dummy div --></div>
                        <button class="col-2 btn btn-success">&#43; Add</button>
                    </div>

                    <div class="form-group row align-items-center pt-2">
                        <label
                            for="description"
                            class="col-3"
                            style="text-align: right"
                            >Description</label
                        >
                        <input
                            class="form-control col"
                            type="text"
                            id="description"
                            ng-model="$ctrl.product.description"
                        />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button
                    type="button"
                    class="btn btn-light"
                    ng-click="$ctrl.cancel()"
                >
                    Cancel
                </button>
                <button
                    type="button"
                    class="btn btn-success"
                    data-dismiss="modal"
                    ng-click="$ctrl.confirm()"
                >
                    Ok
                </button>
            </div>
        </div>
    </div>
</div>
