<header-bar></header-bar>
<div class="container-fluid">
    <h2>Account Management</h2>
    <accounts on-edit="$ctrl.editAccount(selectedAccount)"></accounts>
    <account-edit
        ng-if="$ctrl.showEditModal"
        on-close="$ctrl.closeEditModal()"
        account="$ctrl.selectedAccount"
    ></account-edit>
</div>
