<header
    class="d-flex align-items-center justify-content-between p-2 bg-warning"
>
    <h2>The Coffee House App</h2>
    <img width="25" height="25" ng-src="{{ $ctrl.avatar }}" alt="" />
</header>
