<div class="d-flex justify-content-between align-items-center">
    <h3>{{ $ctrl.title }}</h3>

    <div>
        <input
            class="p-1"
            type="search"
            placeholder="&#128269; search"
            style="outline: none"
        />
        <button class="btn btn-success" ng-click="$ctrl.onAdd()">Add</button>
        <button>
            <img
                width="25"
                height="25"
                src="../../../assets/icons/refresh-svgrepo-com.svg"
                alt="Refresh icon"
            />
        </button>
    </div>
</div>
