<header-bar></header-bar>
<div class="container-fluid">
    <div class="p-4">
        <!-- Breadcrumb here -->
    </div>
    <feature-bar
        title="$ctrl.title"
        on-add="$ctrl.updateOrNewProduct(product)"
    ></feature-bar>
    <products
        on-delete="$ctrl.deleteProduct(product)"
        on-edit="$ctrl.updateOrNewProduct(product)"
        products="$ctrl.products"
    ></products>
    <product-edit-modal
        categories="$ctrl.categories"
        sizes="$ctrl.sizes"
        product="$ctrl.product"
        on-confirm="$ctrl.confirmUpdateProduct(product)"
        on-close="$ctrl.closeEditModal()"
        ng-if="$ctrl.showEditModal"
    ></product-edit-modal>
</div>
