<!-- ng-view: where routing component should appear -->
<div ng-view></div>
<a href="/admin/account-mgmt">Account Management</a>
<a href="/admin/product-mgmt">Product Management</a>
<a href="/admin">Login</a>
