<div
    class="d-flex justify-content-center align-items-start"
    style="height: 100vh; background-color: lightgray"
>
    <form
        action=""
        class="bg-white shadow p-4 d-flex flex-column align-items-center mt-5"
    >
        <h3 class="pb-4">{{ $ctrl.title | uppercase }}</h3>
        <div class="form-group w-100">
            <input
                class="form-control"
                type="text"
                placeholder="Username"
                ng-model="$ctrl.username"
            />
        </div>
        <div class="form-group mt-3 w-100">
            <input
                class="form-control"
                type="text"
                placeholder="Password"
                ng-model="$ctrl.password"
            />
        </div>
        <button
            type="submit"
            class="btn btn-warning mt-3 w-100"
            ng-click="$ctrl.login($event)"
        >
            Login
        </button>
    </form>
</div>

<div
    ng-if="$ctrl.loginError != undefined"
    class="alert alert-danger position-fixed top-0 end-0 mt-2"
    style="margin-right: 0.5rem"
>
    {{ $ctrl.loginError }}
</div>
