<div style="position: absolute; top: 0" class="container">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-warning">
                <h5 class="modal-title">{{ $ctrl.title }}</h5>
            </div>
            <div class="modal-body">
                <p>{{ $ctrl.bodyText }}</p>
            </div>
            <div class="modal-footer">
                <button
                    type="button"
                    class="btn btn-secondary"
                    data-dismiss="modal"
                    ng-click="$ctrl.onCancel()"
                >
                    {{ $ctrl.cancelText }}
                </button>
                <button
                    type="button"
                    class="btn btn-success"
                    ng-click="$ctrl.onConfirm()"
                >
                    {{ $ctrl.confirmText }}
                </button>
            </div>
        </div>
    </div>
</div>
