<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Gender</th>
            <th>Role</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr dir-paginate="account in $ctrl.accounts | itemsPerPage: 3">
            <td>{{ account.name }}</td>
            <td>{{ account.gender }}</td>
            <td>{{ account.role }}</td>
            <td>{{ account.phone }}</td>
            <td>{{ account.email }}</td>
            <td>
                <button
                    class="btn btn-primary"
                    ng-click="$ctrl.editAccount(account.id)"
                >
                    Edit
                </button>
                <button
                    class="btn btn-danger"
                    ng-click="$ctrl.deleteAccountById(account.id)"
                >
                    Delete
                </button>
            </td>
        </tr>
    </tbody>
</table>

<dir-pagination-controls></dir-pagination-controls>
